:root {
  --base00: #000000; /* page background */
  --base01: #0e071d; /* content background */

  --base02: #000000; /* in-text backgrounds */
  --base03: #b2b2b2; /* muted text */
  --base04: #ffffff; /* aside text */
  --base05: #ffffff; /* content text */

  --base06: #000000; /* unused */
  --base07: #000000; /* unused */

  --base08: #0feb6e; /* unused:       green */
  --base09: #eb9boe; /* unused:       orange */
  --base0A: #ffc442; /* highlights:   yellow */
  --base0B: #fe3320; /* primary:      red */
  --base0C: #a88bf7; /* active links: purple */
  --base0D: #00b3b1; /* links:        blue */
  --base0E: #000000; /* unused */
  --base0F: #000000; /* unused */
}
