:root, .dark {
  --nav-height: 3rem;
  --standard-border: 1px solid;
  --font-sans: "Roboto", sans-serif;
  --font-mono: "JetBrains Mono", monospace;

  --background-color: #0e071d;
  --secondary-background-color: #000000;
  --tertiary-background-color: #000000;
  --text-color: #ffffff;
  --accent-color: #ff0000;
  --radio-border-color: #b2b2b2;
  --link-color: #43c4eB;
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1.375;
  margin: 0;
  font-family: system-ui, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.5s, color 0.5s;
  display: flex;
  flex-direction: column;
  min-block-size: 100vh;
}

nav,
header,
main,
footer {
  padding-inline: 1rem;
}

main {
  margin-block-end: auto;
}

.container {
  max-inline-size: 80ch;
  margin-inline: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  scroll-margin-block-start: var(--nav-height);
}

img {
  display: block;
  max-inline-size: 100%;
  block-size: auto;
}

.icon {
  inline-size: 1.5re;
  block-size: 1.5rem;
}

table {
  display: block;
  max-inline-size: 100%;
  overflow-x: auto;
}

td,
th {
  border: var(--standard-border);
  padding-inline: .5rem;
  padding-block: .25rem;
}

pre {
  padding: 1rem;
  background-color: var(--secondary-background-color) !important;
  border: var(--standard-border);
}

code {
  font-family: var(--font-mono);
  font-size: 1rem;
}

.heading-linker {
  color: inherit;
  text-decoration: none;
}

.heading-linker::before {
  content: "#";
  color: var(--accent-color);
  margin-inline-end: .25rem;
}

button, input {
  font: inherit;
  padding-inline: .5rem;
  padding-block: .25rem;
  background-color: var(--secondary-background-color);
  border: var(--standard-border);
  color: inherit;
}

summary,
button {
  cursor: pointer;
}

ul,
ol {
  line-height: 2;
  padding-inline-start: 1rem;
}

a {
  color: var(--link-color);
}

blockquote {
  margin-inline-start: 0;
  padding-inline-start: 1rem;
  border-inline-start: var(--standard-border);
}

hr {
  block-size: 2px;
  background-color: var(--tertiary-background-color);
  border: none;
}
