---
import PageLayout from "../layouts/PageLayout.astro";

---

<PageLayout title="404 - Page not found">
  <p>Your URL is in another castle.
  <br><a href="/">Take me back to the homepage.</a>
  </p>
</PageLayout>
