---
import PageLayout from "../layouts/PageLayout.astro";

---

<PageLayout title="404 - Page not found">
  <p>Huh. Nothing here... that's weird.
  <br><a href="/">Take me back to the homepage.</a>
  </p>
</PageLayout>
