---
import PageLayout from "../layouts/PageLayout.astro";
---
<PageLayout title="Andrew Brown">
  <p>Once upon a time, this website was nothing but a redirect link to my gigantic spotify playlist. For posterity, I figured I’d keep the link around.</p>
  <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/7q4ahYFKHZ5hGMWxQUWcGh?utm_source=generator&amp;theme=0" width="100%" height="352" frameborder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
</PageLayout>
