---
const currentDateYear = new Date().getFullYear();
---

<footer>
  <div class="container">
    <ul>
      <li>
        <a href="mailto:me@ndrwbrwn.au">Contact</a>
      </li>
      <li>
        <a href="https://github.com/ndrwbrwn">GitHub</a>
      </li>
    </ul>
    <p>
      <small>Copyright &copy; {currentDateYear} Andrew Brown<br>Photos (well, the embed cover photo) credit to <a href="https://www.victorhallphotography.com.au/">Hall Photography</a></small>
    </p>
  </div>
</footer>

<style>
  footer {
    padding-block: 1rem;
    margin-block-start: 1.25rem;
    text-align: center;
  }

  .container {
    display: grid;
    place-items: center;
  }

  ul {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 1rem;
  }
</style>
