---
import { Image } from "astro:assets";

import Icon from "../../public/favicon.svg";

import Dropdown from "./Dropdown.astro"
---
<script is:inline>
  let themeOptions = ["light", "dark"];

  let theme = "dark";

  function loadTheme() {
    theme = localStorage.getItem("theme") || (window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light");
	document.documentElement.className = theme;
  }

  function saveTheme() {
    document.documentElement.className = theme;
    localStorage.setItem("theme", theme);
  }

  function switchTheme() {
    let cur = localStorage.getItem("theme");
    theme = themeOptions.find((e) => e !== cur) || "dark";
    saveTheme();
  }

  loadTheme();
</script>

<nav>
  <div class="container">
    <a href="/">
      <Image src={ Icon } width="32" height="32" alt="This website's logo" />
    </a>

    <code class="right">
        <Dropdown>
          <p slot="icon"> ls </p>
          <a href="../" class="folder"> .. </a>
          <a href="./" class="folder"> . </a>
          <a href="/playlist" class="file"> playlist </a>
          <a onclick="switchTheme()" class="executable"> switch_theme.sh </a>
        </Dropdown>
    </code>
  </div>
</nav>

<style>
  nav {
    position: sticky;
    inset-block-start: 0;
    background-color: var(--secondary-background-color);
    border-block-end: var(--standard-border);
  }

  .container {
    display: flex;
    align-items: center;
    block-size: var(--nav-height);
    position: relative;
  }

  .container > *:first-child {
    margin-inline-end: auto;
  }

  .right {
    margin-left: auto;
    text-align: right;
  }

  a {
    padding: 10px;
    text-decoration: none;
  }

  .file {
    color: var(--text-color);
  }
  .folder {
    color: #33f;
  }
  .executable {
    color: #0d0;
  }
</style>
